@font-face {
    font-family: "secondaryFont";
    src: url("../../../static/samantha.woff") format('woff');
}
.title_mobile {
    display: flex;
    height: 100vh;
    min-height: 500px;
    flex-direction: column;
    // background-color: orange;
    justify-content: center;
    .innerContainer {
        display: flex;
        flex-direction: column;
        // height: 80vh;
        // width: 80%;
        max-width: 300px;
        align-self: center;
        // justify-content: space-between;
    }
    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 22pt;
            // background-color: teal;
        .row1 {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        // .row2 {
        //     margin-top: 10%;
        // }
    }
    .subTitle {
        margin-top: 10%;
        // margin-top: 20%;
        text-align: center;
        font-size: 18pt;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        h2 {
            font-family: "secondaryFont";
            font-size: 24pt;
        }
        .line {
            margin-top: -50px;
        }
        
    }
    .image {
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        // background-color: blue;
        // height: 50%;
        
        width: 100%;
        // margin-top: 20%;
        .portrait {
            padding-bottom: 35px;
            height:100px;
            // height: 55%;
            margin-top: 15%;
            height: 150px;
        
        }
        .flower{
            width: 12%;
        }


}
@media only screen and (min-height: 650px) {
    .image {
        // background-color: green;
        margin-top: 0px;
        .portrait {
            height: 175px;
        }
        .flower{
            width: 16%;
        }
    }
    // .title.row2 {
    //     margin-top: -20px;
    // }
}

}
