* {
    margin: 0;
    padding: 0;
    font-family: "mainFont";
    font-weight: 100;
    color: #626872;
}

@font-face {
    font-family: "mainFont";
    src: url("./static/3dSketch.woff") format('woff');
}

@font-face {
    font-family: "secondaryFont";
    src: url("./static/samantha.woff") format('woff');
}



